* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

body {
	background-image: url(images/bg.jpg);
	font-family: arial;
}

header {
	text-align: center;
	padding: 10px;
	background-color: #F1E4C3;
	font-family: 'Single Day', cursive;
	font-size: 1.2rem;
}

.container {
	display: flex;
	align-items: flex-start;
}

/*FORM*/
form {
	max-width: 350px;
	background-color: white;
	padding: 15px;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 20px;
	align-self: flex-start;
}

form h3	{
	margin-bottom: 15px;
	text-align: center;
}

form input {
	width: 100%;
	margin-bottom: 13px;
	padding: 7px;
	border-radius: 5px;
}

.formDuration {
	width: 15%;
	text-align: center;
	padding: 5px;
}

input[type="radio"] {
	width: inherit;
	cursor: pointer;
	display: inline;
	margin-left: 10px;
}

.radioButton {
	display: flex;
	margin-top: -15px;
	justify-content: center;
}

input#date {
	width: 50%;
}

input#rating {
	width: 30px;
	padding: 5px;
	text-align: center;
	margin-top: -10px;
}

.ratingContainer {
	text-align: center;
	display: none;
}

input[type="submit"] {
	background-color: lightgreen;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;
	margin-top: 5px;
}

/*DOCUMENTARY FINISHED CONTAINER*/
.finished {
	width: 550px;
	background-color: white;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 20px;
	padding: 15px;
}

.finished h2 {
	text-align: center;
	margin-bottom: 20px;
}

.containerAllDocumentary div:last-child {
	border-bottom: none;
}

.perDocumentary {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.per-number {
	flex: .7;
	font-size: 2rem;
	margin: auto;
	text-align: center;
}

.documentaryInfo {
	flex: 5;
	padding-left: 5px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.rating-container-finished {
	flex: 1.2;
	padding-left: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	border-left: 1px solid black;
}

.documentaryRating {
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 9px;
	width: 60px;
	position: relative;
}

.per-date {
	font-size: .7rem;
	align-self: flex-end;
	position: absolute;
	bottom: 0;
	/*text-align: center;*/
}

.documentaryRating img {
	width: 23px;
	margin-right: 2px;
	margin-bottom: 5px;
	position: absolute;
	left: 0;
	display: inline;
}

.per-rating {
	display: block;
	font-size: 2rem;
	position: absolute;
	left: 25px;
	width: 3rem;
}

.per-title {
	font-weight: bold;
	font-style: italic;
	text-align: justify;
}

.per-channel {
	font-size: .9rem;
}

.per-duration {
	font-size: .9rem;
	color: #acacac;
}

/*WANT TO WATCH - ASIDE*/
aside {
	background-color: #eee;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 15px;
	border-radius: 20px;
	padding: 15px;
	width: 300px;
	align-self: flex-start;
	font-size: .8rem;

}

.want-watch-container div:last-child {
	border-bottom: none;
}

aside h2 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 1.2rem;
}

.want-watch-container {
	overflow: auto;
	max-height: 300px;
	padding-left: 10px;
}

.per-wantwatch {
	border-bottom: 1px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
	position: relative;
}

.watch-to-finished {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 10px;
}

aside svg:hover {
	cursor: pointer;
	color: blue;
}


/*RESPONSIVE BREAKPOINT*/

@media (max-width: 576px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	form {
		margin: auto;
		margin-top: 20px;
		max-width: 90%;
	}

	.finished {
		width: 90%;
		margin: 0;
		margin-top: 20px;
	}

	aside {
		width: 90%;
	}

	.per-wantwatch {
		width: 97%;
	}
}